body * {
    box-sizing: border-box;
}

@media (max-width: 320px) {
    .preview-img {
        height: 242px;
        width: 242px;
    }

}
.owl-prev {
    position: absolute;
    top: 85%;
    left: 0;
    transform: translateY(-50%);
      }
  
  .owl-next {
    position: absolute;
    top: 85%;
    right: 0;
    transform: translateY(-50%);
  }
  .owl-nav{
    font-size: 55px;
    
 }
 
  .container{
    padding: 15px;
    margin: 15px;
  }