@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');


h1 {
    font-family: 'Baloo 2', cursive;
    font-size: 50px;
    text-align: center;
}

h2 {
    font-family: 'PT Sans', sans-serif;
    font-size: 19px;
    font-weight: 400;
    color: rgb(149, 139, 126);
    text-align: center;
}

h3 {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: rgb(149, 139, 126);
    margin: 24px 0px 0px ;
}

h4 {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: rgb(237, 100, 53);
    margin: 0px;
}

.add-btn {
    /* Ссылка */
    text-decoration: none;
}

.wrapper {
    background-color: rgb(178, 231, 233);
    border-radius: 25px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 14px 30px;
    border: solid rgb(178, 231, 233) 1px;
    margin: 24px 0px 0px ;
    /*transition: background-color 0.3s ease, border 0s ease;*/


}

.wrapper:hover .add-btn__text {
    /* Измененние цвета текста*/
    color: rgb(237, 100, 53);
}

.wrapper:active {
    /* Изменеие цвета фона при нажатии*/
    background-color: rgb(69, 193, 199);
}

.wrapper:hover {
    /* Изенение цвета фона при наведении*/
    border: solid rgb(255, 230, 212) 1px;
    background-color: rgb(255, 230, 212);

    transition: border 0s ease, bacground-color 0s ease;

}


.wrapper:not(:hover) {
    animation: blink 0.5s;
}

@keyframes blink {
    from {
        border: solid rgb(69, 193, 199) 1px;
    }

    to {
        border: solid rgb(178, 231, 233) 1px;
    }
}

.add-btn__text {
    /** Текст на кнопке **/
    font-family: 'PT Sans', sans-serif;
    font-size: 16.5px;
    font-weight: 700;
    color: rgb(69, 193, 199);
    transition: color 0.5s ease;
    user-select: none;

}

.trending__carousel-bloc {
    display: inline-block;
    padding: 20px 15px;
}
.trending__carousel{
    display: flex;
  justify-content: center;
}

@media (min-width: 767px) {
    .preview-img {
        width: 242px;
        height: auto;
       
    }
}